.select .main {
    border: 1px solid black;
    display: inline-block;
    min-height: 20px;
    min-width: 55px;
    background-color: #8fe1ce;
}

.items {
    position: absolute;
    border: 1px solid black;
    padding: 5px;
    background-color: #e3f8f4;
}

.item.selected {
    background-color: blue;
    color: white;
}

